body {
    margin: 0;
    padding: 0;
    background-color: #7999CA;
    font-family: Roboto, sans-serif;
    font-size: 13px; 
}

.root {
    width: 900px;
    margin: 100px auto;

}
.card {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2);
}

.item {
    display: inline-block;
    vertical-align: top;
    padding: 20px 20px;
    margin: 15px 0;
    transition: background 0.15s ease-in-out;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    line-height: 19px;
    text-decoration: none;
}

.item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.item-image {
    margin-bottom: 20px;
}

.item-title {
    color: #0c61c2;
    letter-spacing: 4px;
}

.item-text {
    margin: 20px auto;
    color: #585858;
    max-width: 90%;
}

.item-price {
    color: #0c61c2;
    font-size: 13px;
    padding-top: 5px;
}

.item-value {
    font-size: 30px;
    font-weight: bold;
}

.dollar-sign {
    font-size: 14px;
}




